@charset "UTF-8";
.footer_banner {
	background-color: #248EFF;
	padding-top: 30px;
	padding-bottom: 30PX;
	margin-bottom: 0px;
	background-repeat: repeat;
}
.hero_header {
	color: #000000;
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	/*letter-spacing: 4px;*/
}
.footer_column {
	width: 100%;
	margin-top: 0px;
	text-align: center;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #49A1FF;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.hero_Black {
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 2px;
}
.hero_White {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.hero_Blue {
	color: #007BFF;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.hero_Question {
	color: #FFC600;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 2px;
}
/* Hero Section */
.hero {
	background-color: #E9E9E9;
	padding-top: 30px;
	padding-bottom: 30px;
}
.Small_Blue {
	color: #007BFF;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	/*letter-spacing: 0px;*/
}
/* About Section */
/*自己的一些布局awa*/
#Grads_1 {
    height: auto;
    background-color: #007BFF; /* 不支持线性的时候显示 */
    background-image: linear-gradient(to bottom right, #007BFF, #00A3FF);
}