@charset "UTF-8";
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 30px;
	padding-bottom: 30PX;
	margin-bottom: 0px;
	background-repeat: repeat;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
	text-align: center;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.hero_Black {
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.hero_White {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	background-color: #E9E9E9;
	padding-top: 30px;
	padding-bottom: 30px;
}
/* About Section */
